.sticker {
  position: absolute;
  max-width: 60px;
  z-index: 10;
}
.sticker-title {
  top: 10px;
  left: 10px;
}
.sticker-historia {
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.sticker-epistemologia {
  position: absolute;
  top: -25px;
  right: -25px;
}
.sticker-between-1-2 {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
}
.sticker-sem3 {
  position: absolute;
  top: 400px;
  left: 5%;
  transform: rotate(-10deg);
}
.sticker-sem5 {
  position: absolute;
  top: 800px;
  left: 50%;
  transform: translateX(-50%);
}
.sticker-sem7 {
  position: absolute;
  top: 1080px;
  right: 10px;
}
.sticker-creditos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.sticker-between-9-10 {
  position: absolute;
  top: 1500px;
  left: 50%;
  transform: translateX(-50%);
}
